div {}

h1 {
    text-align: center;
    background: #FFFFFF;
    font-family: sans-serif;
    /*
    border: 8px solid black;
    */
    width: 300px;
    border: 15px solid green;
    padding: 20px 50px 20px 50px;
    margin: 20px 20px 90px 20px;


}

h2 {
    text-align: center;
    background: #FFFFFF;
    font-family: sans-serif;
    /*
    border: 8px solid black;
    */
    width: 300px;
    border: 10px solid green;
    padding: 10px;
    margin: 10px 10px 50px 10px;
    font-size: 30px;
}

h3 {
    text-align: center;
    background: #FFFFFF;
    /*
    border: 8px solid black;
    */
    width: 300px;
    border: 5px solid green;
    padding: 10px;
    margin: 10px;
    font-size: 26px;
}

head {}

body {
    background-color: antiquewhite;
    padding-left: 15px;
    background-image: url(blue_background.jpg);
    background-repeat: repeat;
    font-family: courier;
}

p {
    padding-left: 20px;
    padding-bottom: 15px;
    font-family: sans-serif;
    font-size: 20px;
    background: #FFFFFF;
    /*
    border: 4px solid black;
    */
    border: 5px solid green;
    padding: 10px;
    margin: 10px;
}

img {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 60px;
}

header {
    padding: 30px;
}

footer {
    padding: 20px;
}

#borderimg {
    border: 30px solid transparent;
    /*
    border-image: url(tree_cartoon.png) 18% round;
    */
    padding: 10px;
    margin: 10px;
}

ul {
    font-size: 20px;
    background-color: chartreuse;
    padding: 10px 10px 10px 50px;
    border: 4px solid black;
    margin-right: 60%;

}

a {
    color: hotpink;
    font-weight: bold;

    background-color: skyblue;

    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: skyblue;
    background-color: hotpink;
}
